body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    /* Default background for non-login pages */
}

/* Background Image for Login Page */
body.login-page {
    background: url('../images/Nagarbus.png') no-repeat center center/cover;
    background-size: cover;
    /* Ensure the image fully covers the screen */
}

/* Login Container */
.login-container {
    background-color: rgba(255, 255, 255, 0.9);
    /* Slight transparency */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

h1 {
    margin-bottom: 20px;
    font-size: 1.8em;
    color: #010000;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    font-size: 0.9em;
    color: #666;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}